<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <nav>
    <div class="logo">
      Home
    </div>
    <div>
      <a href="{% url 'main:home_view' %}">Home</a>
      <a href="{% url 'main:properties_view'%}">Properties</a>
      <a href="#">Services</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div>

    </div>
  </nav>
  {% block content %}

  {% endblock %}
</body>
</html>