{% extends 'main/base.html'%}
{%block title %} Contact us  {%endblock%}

{%block content %}

    <section>
        <div class="contact-info">
            <h1>contact us</h1>
            <div class="telephone">
                <span>telephone:</span>
                <span>96555555555</span>

            </div>
            
            <div class="email">

                <span>email:</span>
                <span>96555555555</span>
            </div>
            <div class="address">
                <h2>address:</h2>
                <p>ee</p>
                <p>ee</p>
                <p>ee</p>

            </div>

        </div>
        <div class="google-map">

        </div>
    </section>

{%endblock%}