{% extends 'main/base.html' %}
{%load static%}

{% block background-content %}
<div class="background-image" style="background-image: url('/static/images/skyscraper.jpeg');"></div>

{% endblock %}
{% block content %}
   <section class="section-hero">
    <h1>FIND YOUR <br>DREAMS</h1>
    <p>Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties. Our <br>catalog will surprise you. Kather, discover an unprecendenced orrers or luxury properdes.</p>
    <a href="{% url 'main:property_list' %}"><button>Explore properties</button></a>

   </section>

{% endblock %}
{% block footer-content %}


        <div class="home">
            <a href="#"><span class="material-symbols-outlined home-icon">home</span></a>
            <p>HOME</p>
        </div>

        <div class="Properties">
            <a href="#"><span class="material-symbols-outlined factory-icon">factory</span></a>
            <p>PROPERTIES</p>
        </div>
        <div class="hotel">
            <a  href="#"><span class="material-symbols-outlined hotel-icon">hotel</span></a>
            <p>hotel</p>
        </div>
        <div class="villa">
        <a  href="#"><span class="material-symbols-outlined villa-icon">villa</span></a>
        <p>VILLA</p>
        </div>
        

    {% endblock %}
  

