{% extends 'main/base.html' %}
{% block title %}
Home Page
{% endblock %}
{% load static %}
{% block content %}
<main>
  <h1>OUR PROPERTIES</h1>
  <div>
    <div>
      <img src="{% static 'images/villa1.jpg' %}">
      <p>VILLA MODERN IN MALQA</p>
      <a href="">more</a>
    </div>
    <div>
      <img src="{% static 'images/villa2.jpg' %}">
      <p>GREAT HOME FOR YOU IN RIMAL</p>
      <a href="">more</a>
    </div>
    <div>
      <img src="{% static 'images/villa3.jpg' %}">
      <p>VILLA WITH 8 BEDROOMS IN SWEDEY</p>
      <a href="">more</a>
    </div>  
    <div>
      <img src="{% static 'images/villa4.jpg' %}">
      <p>GREAT HOME FOR YOU IN RIMAL</p>
      <a href="">more</a>
    </div>
  </div>
</main>
{% endblock %}