<!-- main/templates/main/home.html -->
{% extends 'main/base.html' %}

{% load static %}

{% block title %}Home - Redwan Real Estate{% endblock %}
{% block page %}home{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}

<div class="propert">
    <h1>FIND YOUR</h1>
    <h1>DREAMS</h1>

    <p class="intro-paragraph">
        Our catalog will surprise you. Rather, discover unprecedented offers of luxury properties. Our <br>
        catalog will surprise you. Rather, discover unprecedented offers of luxury properties.
    </p>
    <a href="#" class="explore-button">Explore Properties</a>
</div>
</body>
{% endblock %}
