{% extends 'main/base.html' %}
{% load static %}

{% block title %}Services - Redwan Real Estate{% endblock %}
{% block page %}services{% endblock %}
{% block body_class %}services{% endblock %}
.

{% block content %}
<div class="propert">
    <h1 >FIND YOUR</h1>
    <h1>DREAMS</h1>

    <p class="intro-paragraph">
        Our catalog will superise you. Rather,discover an unprecendented offers of luxury properties.Our <br>
        catalog will superise you. Rather,discover an unprecendented offers of luxury properties.
    </p>
    <a href="#" class="explore-button">Explorer Properties</a>

</div>
{% endblock %}
