* {
    border: solid;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: 100;

}
.html.dark {
    background-color: #000;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: solid;
}
header {
    border: solid;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
main {
    height: 100vh;
    width: 100vw;
}
div {
    border: solid;
}
nav {
    border: solid;
}
footer {
    position: fixed;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    font-size: 2rem;
}

/*.home-light {*/
/*    background-image: url("{% static 'images/skyscraper.jpeg' %}") ";*/
/*}*/

/*.home-dark {*/
/*    background-image: url("{% static 'images/skyscraper-dark.jpg' %}");*/
/*}*/

.icon {
    width: 1.5rem;
    border: solid;
}