
body {
  font-family: "Phudu", cursive;
}

.small-text-font {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
.slide-in-elliptic-right-fwd {
  -webkit-animation: slide-in-elliptic-right-fwd 1s
    cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: slide-in-elliptic-right-fwd 1s
    cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
0% {
-webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
      transform: translateX(800px) rotateY(-30deg) scale(0);
-webkit-transform-origin: -100% 50%;
      transform-origin: -100% 50%;
opacity: 0;
}
100% {
-webkit-transform: translateX(0) rotateY(0) scale(1);
      transform: translateX(0) rotateY(0) scale(1);
-webkit-transform-origin: -1800px 50%;
      transform-origin: -1800px 50%;
opacity: 1;
}
}
@keyframes slide-in-elliptic-right-fwd {
0% {
-webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
      transform: translateX(800px) rotateY(-30deg) scale(0);
-webkit-transform-origin: -100% 50%;
      transform-origin: -100% 50%;
opacity: 0;
}
100% {
-webkit-transform: translateX(0) rotateY(0) scale(1);
      transform: translateX(0) rotateY(0) scale(1);
-webkit-transform-origin: -1800px 50%;
      transform-origin: -1800px 50%;
opacity: 1;
}
}

