.headerC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-decoration: none;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

body {
    background-image: url(/static/skyscraper.jpeg);
}

body.dark {
    background-image: url(/static/skyscraper-dark.jpg);
}

a:link { 
    text-decoration: none; 
    color: rgb(59, 59, 59);
}

a:visited { 
    text-decoration: none; 
    color: rgb(59, 59, 59);
}
 
a:hover { 
    text-decoration: none; 
    color: rgb(255, 0, 0);
}


a:active { 
    text-decoration: none;
    color: rgb(168, 168, 168);
}  

.nav1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 50px;
    background-color: rgb(230, 255, 255);
}

.nav2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: azure;
}

.btn1 {
    border: none;
}

.btn2 {
    border: none;
}

.btn3{
    border: none;
}

.BGImg {
    top: 0;
}


footer {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: sticky;
    margin: auto;
    justify-content: center;
    align-content: center;
    bottom: 0;
}

.nav3 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem;
    border-radius: 50px;
    background-color: rgb(230, 255, 255);
    justify-content: center;
    align-content: center;
    bottom: 0;
}

.fonto {
    background-color: aquamarine;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 50px;
    justify-content: center;
    align-content: center;
}

.largeplease {
    font-size: 150px;
    font-family: "Phudu", sans-serif;
    font-style: normal;
    animation: 3s infinite alternate slidein;
}

.gallery {
    margin: 30px;
    float: left;
    width: 180px;
    justify-content: space-between;
    background-color: beige;
    border-radius: 25px;
    font-size: 15px;
    font-family: "Phudu", sans-serif;
    font-style: normal;
}
  
.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
  
.desc {
    padding: 15px;
    text-align: center;
}