/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:50px;
    flex-direction: row;
 
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Hero section styling */
.home-background {
    background-image: url( "../images/skyscraper.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;

}

.hero-content {
    position: relative;
    z-index: 1;
    color:black;
    max-width: 600px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn:hover {
    background-color: #cc5200;
}