* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Phudu', sans-serif;
}
.contact-background{
    background-image: url('../images/email.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-info-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px;
    margin: 40px;
    width: 101vw;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.googleMaps iframe{
    border-radius: 25px;
    width: 800px;
}
.contact-info-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-info-data p{
    font-size: 30px;
}
.contact-info-data a{
    text-decoration: l;
}



