{% extends 'base.html'%} {% load static %} 
{% block title %} Contact Us {%endblock %} 
{% block content %}
<div class="contact-background">
  <div class="contact-info-container">
    <div class="googleMaps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39137.76457882809!2d46.74107164163272!3d24.836718068309466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efc6d472d42af%3A0x24b3a53de9cbc5c3!2sPark%20Avenue%20Mall!5e0!3m2!1sen!2ssa!4v1720890223737!5m2!1sen!2ssa"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="contact-info">
      <h1>CONTACT US</h1>
      <div class="contact-info-data">
        <p>TELEPHONE: <a href="#"> +966 5712931749</a></p>
        <p>EMAIL: <a href="#">info@realeastate.com</a></p>
        <p>ADDRESS:</p>
        <span>
            ANAS BIN MALIK, RIYADH<br />
            BUILDING W-112<br />
            SAUDI ARABIA
          </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
