{% extends 'base.html'%} 
{% load static%}

{% block title %} Properties {% endblock %}

{% block content %}
<div class="properties-background">
    <div class="head"><h1>OUR PROPERTIES</h1></div>
    <div class="properties-container">
        {% for villa in properties %}
        <div class="card-1">
            <img src="{% static 'images/'|add:villa.image %}">
            <p>{{villa.title}}</p>
            <div class="btn-1"> <button> more</button> </div>
            </div>
        {% endfor%}
    </div>
</div>
{% endblock %}