<nav class="fixed top-0 left-0 right-0 z-10">
  <div class="container mx-auto px-8 py-6">
    <div class="flex justify-between items-center">
      <div
        class="text-4xl font-bold hover:text-red-600 {% if 'mode' in request.COOKIES %}text-white{% else %}text-black{% endif %} transition-all duration-300 ease-in-out hover:scale-110"
      >
        <a
          href="{% url 'cookies_lab:index' %}"
          class="inline-block transition-colors duration-300 ease-in-out"
          >HOME</a
        >
      </div>

      <div
        class="{% if 'mode' in request.COOKIES %}bg-[#282828] text-white{% else %}bg-white text-black{% endif %} rounded-full px-8 py-4 shadow-md transition-transform duration-300 ease-in-out hover:scale-105"
      >
        <ul class="flex space-x-12 px-16 py-4">
          <li>
            <a
              href="{% url 'cookies_lab:index' %}"
              class="transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
              >Home</a
            >
          </li>
          <li>
            <a
              href="{% url 'cookies_lab:properties' %}"
              class="transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
              >Properties</a
            >
          </li>
          <li>
            <a
              href="#"
              class="transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#"
              class="transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
              >About</a
            >
          </li>
          <li>
            <a
              href="{% url 'cookies_lab:contact' %}"
              class="transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div
        class="flex items-center space-x-4 {% if 'mode' in request.COOKIES %}text-white{% else %}text-black{% endif %}"
      >
        <a
          href="#"
          class="flex items-center transition-all duration-200 ease-in-out hover:scale-110 hover:text-red-500"
        >
          <span class="material-symbols-outlined mr-2">person</span>
          <span class="font-sans">Sign up</span>
        </a>
        <a
          href="{% url 'cookies_lab:light_mode' %}"
          class="{% if 'mode' in request.COOKIES %}hover:text-red-500{% else %}bg-white hover:text-red-500{% endif %} rounded-full p-2 flex items-center justify-center w-10 h-10 transition-all duration-200 ease-in-out hover:scale-110"
          aria-label="Switch to light mode"
        >
          <span class="material-symbols-outlined">clear_day</span>
        </a>
        <a
          href="{% url 'cookies_lab:dark_mode' %}"
          class="{% if 'mode' in request.COOKIES %}bg-[#282828] hover:text-red-500{% else %}hover:text-red-500{% endif %} rounded-full p-2 flex items-center justify-center w-10 h-10 transition-all duration-200 ease-in-out hover:scale-110"
          aria-label="Switch to dark mode"
        >
          <span class="material-symbols-outlined">dark_mode</span>
        </a>
      </div>
    </div>
  </div>
</nav>
